<div class="key-color">
  <h3 class="text-white text-center mb-1">Performance Indicator</h3>
  <div class="d-flex align-items-center gap-2 animate-2 fade-in-right">
    <div class="circuit-status" style="background-color: #0dbb95;"></div>
    <span class="text-white">80+</span>
  </div>
  <div class="d-flex align-items-center gap-2 animate-4 fade-in-right">
    <div class="circuit-status" style="background-color: #a58813;"></div>
    <span class="text-white">40-70</span>
  </div>
  <div class="d-flex align-items-center gap-2 animate-5 fade-in-right">
    <div class="circuit-status" style="background-color: #681010;"></div>
    <span class="text-white">10-30</span>
  </div>
  <div class="d-flex align-items-center gap-2 animate-6 fade-in-right">
    <div class="circuit-status" style="background-color: #36474b;"></div>
    <span class="text-white">0-29</span>
  </div>
</div>

<div class="label-map">
  <h3 class="text-white">Performance Indicator Users</h3>
</div>

<div class="body-right-container">
  <app-line-analysis></app-line-analysis>

</div>

<div class="body-left-container">
  <app-pie-analysis></app-pie-analysis>
</div>


<div id="map" class="map"></div>
