.challenge {
  width: 100%;
  height: 100vh;
  background-color: #323539;
  overflow-y: auto;
  padding: 1% 10%;


  .card-custome {
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 18px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);

    h3 {
      color: #fff;
      font-size: 18px;
    }
  }
}
