<div class="challenge d-flex flex-column gap-3 ">
  <div class="card-custome col-12">
    <app-filter-challenge></app-filter-challenge>
  </div>
  <a class="d-flex justify-content-center align-items-center" target="_blank" href="interactive-map-data-analysis/list"
    style="height: 10vh;width:  250px;background-color: #65b4f3; border-radius: 12px;cursor: pointer;">
    <span class="text-white"> Click Here >>> Bounes</span>
  </a>
  <div class="d-flex flex-lg-row  flex-md-column align-items-center gap-2">
    <div class="card-custome col-lg-3 col-md-12" style="height: 50vh;">
      <app-pie-chart-challenge></app-pie-chart-challenge>
    </div>
    <div class="card-custome col-lg-9 col-md-12" style="height: 50vh;overflow-y: auto;">
      <app-table-challenge></app-table-challenge>
    </div>
  </div>
  <div class="d-flex align-items-center gap-2">
    <div class="card-custome col-12" style="height: 50vh;overflow-y: auto;">
      <app-line-chart-challenge></app-line-chart-challenge>
    </div>
  </div>
</div>
